/* src/App.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  overflow: hidden; /* Keep this to prevent scrolling */
}

.screen {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 60%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  width: 80%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.emoji-reactions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.emoji-box {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.emoji-box img {
  width: 50px;
  height: 50px;
}

.emoji-box:hover {
  transform: scale(1.1);
  background-color: #d0d0d0;
}

.emoji-box.selected {
  background-color: #a0a0a0;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.css-1lo9e02-MuiPaper-root {
  width: 90% !important;
  padding: 20px !important;
  align-items: center;
  overflow: auto;
}
